 <h4> WishList Items for <%=@group.name %> group</h4>
<table class="table table-striped table-hover row-clickable">
  <thead>
    <tr >
      <th>Name </th>
      <th>Description </th>
      <th>Requestor</th>
      <th>Date Needed</th>
    </tr>
  </thead>  
   <tbody class="js-wishitem">      
    <%= render partial: 'wishitems/wishitem', collection: @wishitems %> 
  </tbody> 
 </table>
 <div class="new-wishitem">
    <%= render template: 'wishitems/new' %>
  </div>
<div id="modal-window-wish" class="modal" role="dialog" aria-labelledby="myModalLabel_2" aria-hidden="true"></div>