  <h4> WishList Items for <%=@group.name %> group</h4>
  <%= render partial: 'wishitems/wishitemslist' %>
  <div class="new-wishitem">
    <%= render template: 'wishitems/new' %>
  </div>
<div id="modal-window-wish" class="modal" role="dialog" aria-labelledby="myModalLabel_2" aria-hidden="true"></div>

 