<div class="tab-pane active" id="#wishitemindex">
   <table class="table table-striped table-hover row-clickable">
      <thead>
        <tr >
          <th>Name </th>
          <th>Description </th>
          <th>Requestor</th>
          <th>Date Needed</th>
        </tr>
      </thead>  
      <tbody class="js-wishitems">       
          <%= render partial: 'wishitems/wishitem', collection: @wishitems %> 
      <tbody> 
   </table>
  
</div> 
  <div id="modal-window-wish" class="modal" role="dialog" aria-labelledby="myModalLabel_2" aria-hidden="true"></div>

 