<h1>Sharegoods </h1>

<p>Hi <%= @requestorname %>,</p>

<p>
Welcome to the ShareGoods <%= @groupname %>! 
        Your request for item <%= @itemdesc %> has been accepted by <%= @fromemail %> .
        Please contact the member for further instructions.
Thank you for using ShareGoods!
</p>