<h1>Sharegoods </h1>

<p>Hi <%= @requestorname %>,</p>

<p>
Welcome to the ShareGoods <%= @groupname %>! 
        Your wishlist for item <%= @wishitem.name %> is now available for sharing by <%= @fromemail %> .
        Please login in to Sharegoods and request to borrow.
Thank you for using ShareGoods!
</p>