<div class="container">
<div class="jumbotron">
  <h1>Welcome to Sharegoods</h1>
  <p>To improve and strengthen community relations, minimize waste and make use of common resources  
         efficiently and effectively. <br>
     Sharegoods is primarily a system of borrowing and lending, in which members allow others to use their stuff but actual ownership of the items doesn't change hands. </p> 

<div class="row">
     <div class="col-sm-6"> 
       <p> Join an existing community group? <br>
            <a href='<%= new_group_path %>' class="btn btn-warning btn-lg" style="color:black"><span class="glyphicon glyphicon-log-in"></span> Join Group</a>
       </p>   
    </div>
    <div class="col-sm-6"> 
       <p> Create your trusted community group ? <br>
            <a href='<%= new_group_path %>' class="btn btn-warning btn-lg" style="color:black"><span class="glyphicon glyphicon-log-in"></span> Create Group</a>
       </p>   
    </div>
</div>  
</div>
</div>