<div class="container">
<div class="jumbotron">
  <h1>Sharegoods</h1>
  <p>To improve and strengthen community relations, minimize waste and make use of common resources  
         efficiently and effectively. <br>
     Sharegoods is primarily a system of borrowing and lending, in which members allow others to use their stuff but actual ownership of the items doesn't change hands. </p> 

<div class="row">
     <div class="col-sm-6"> 
       <p> Already Signed up! <br>
            <a href='<%= new_user_session_path %>' class="btn btn-warning btn-lg" style="color:black"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
       </p>   
    </div>
    <div class="col-sm-6"> 
       <p> New to the site?  Sign Up for an account <br>
            <a href='<%= new_user_registration_path %>' class="btn btn-warning btn-lg" style="color:black"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a>
       </p>   
    </div>
</div>  
</div>
</div>
