<div class="container">
<div class="jumbotron">
<p>Sharegoods: </p>
<p>         It's easy and convenient for each of us to buy our own cheap consumer goods and gadgets and have them on hand when we need them. Wheelbarrow, leaf blowers, crimping tools, folding chairs, tables and snow-cone machines are all useful from time to time. But especially for things we need only occasionally, sharing is more environmentally friendly and more cost efficent than buying our own.
         Sharegoods is primarily a system of borrowing and lending, in which members allow others to use their stuff but actual ownership of the items doesn't change hands.
</p>

<p>Objective: </p>
<p>         To improve and strengthen community relations, minimize waste and make use of common resources  
         efficiently and effectively.
</p>        
<p>Purpose:  </p>
 <p>        To be transparent and publicize use of available resources in your neigborhood. </p>
<p>Audiences: </p>
<p>       Trusted small groups or communities. </p>
</div>
<%= link_to "Back", :back %>
</div>