<div id="contact_form">
  <div class="round_tan_box">
    <form class="valid curl_white_box" method="post" action="/contact">
      <h1 class="condensed">Contact Us</h1>
      <p>Help us improve NeighborGoods by sharing your ideas and feedback! Send us an email using the form below, or click the FEEDBACK button on the right.</p>
      <p>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" class="required" value="" />
      </p>
      <p>
        <label for="email">Your Email:</label>
        <input type="text" id="email" name="email" class="required email" value="" />
      </p>
      <p>
        <label for="message">Message:</label>
        <textarea id="message" name="message" class="required"></textarea>
      </p>
      <p>
        <input type="submit" value="Send Message" class="massiveButton" />
        <div class="clearer"></div>
      </p>
    </form>
  </div>
</div>

    </div>
