<div class="container">
  <div class="jumbotron">
    <p><font size="3"><b>Contact Us </b><br>
    Help us improve ShareGoods by sharing your ideas and feedback! Send us an email using the form below</font></p>
    <%= render template: 'messages/new' %>
  
  </div>
</div>