<div class="container">
  <div class="jumbotron">
    <p><b>FAQ </b></p>
      <p><font size="3"><b> What is ShareGoods? </b><br>
         Sharegoods is primarily a system of borrowing and lending, in which members allow others to use their stuff but actual ownership of the items doesn't change hands. Need a Wheelbarrow? Borrow it from your neighbor or friend. It's easy and convenient for each of us to buy our own cheap consumer goods and gadgets and have them on hand when we need them. Wheelbarrow, leaf blowers, crimping tools, folding chairs, tables and snow-cone machines are all useful from time to time. But especially for things we need only occasionally, sharing is more environmentally friendly and more cost efficent than buying our own. Objective of ShareGoods is to improve and strengthen community relations, minimize waste and make use of common resources efficiently and effectively.</font> </p>
      <p><font size="3"><b> Who can start a group? </b><br>
          Anyone can create a group, for their neighborhood, friends circle, apartment building, sports team or any organization.</font> </p>
      <p><font size="3"><b> How do I join a existing group? </b><br>
          You can request the Group Admin to send you an invite to join the group otherwise you cannot join an existing group.</font> </p>
      <p><font size="3"><b> How much does it cost to use ShareGoods? </b><br>
          Borrowing and lending items on ShareGoods is free of charge.</font></p>
      <p><font size="3"><b> What do I do if I forget my password?</b><br>
          If your login fails, you will be prompted to reset your password. </font></p>
      <p><font size="3"><b>How do I cancel my account?</b><br>
          Sign in into ShareGoods and go to My Profile and you will see an option in the bottom : "cancel account." </font></p> 
      <p><font size="3"><b>What should I add to my inventory?</b><br>
          Start off with stuff that you don't use very often such as party supplies (folding chairs and tables), sporting equipment, and power tools. You can also check out the wishlists of your group and add things they are looking for! </font></p>
      <p><font size="3"><b>What types of items get borrowed most frequently?</b><br>
          Popular items include ladders, party supplies, folding table, chairs etc.It makes more sense to borrow or rent something you only need occasionally, instead of buying stuff all the time.</font></p>
      <p><font size="3"><b>Is it safe to share my stuff on ShareGoods?</b><br>
          Sharegoods is primarily a system of borrowing and lending, in which members allow others to use their stuff but actual ownership of the items doesn't change hands.It is a safe and friendly environment for sharing items. You have complete control over who borrows your stuff.
          ShareGoods helps facilitate transactions with a reservation calendar, wishlist alerts, and private messaging between neighbors. It keeps track of all your stuff.</font></p> 
      <p><font size="3"><b>What if something goes wrong?</b><br>
          ShareGoods does not take any responsibility or sets any terms of agreement between users as we are not directly involved in the transaction. ShareGoods acts as a facilitator only. The actual transactions happen off site between individual users. We provide the forum and all the tools you need to decide who to share with. Beyond that, it's just like if you lend something to a neighbor without using ShareGoods. 
          We recommend making sure that whatever you share is in good condition and if any special instructions are necessary that you include them in the item description. </font> </p>
      <p><font size="3"><b>How do I report a bug or abuse?</b><br>
          To report bugs or give feedback, you can contact us directly via our <%= link_to "Contact Us", page_path("contact") %></font></p>
  </div>
</div>