<div class="container">
<div class="jumbotron">
  <h1> The Simple Rules of Sharing </h1>

<p> 1. Treat other people's stuff with lots of TLC. <br>
Treat it like it is yours. If you get something dirty, clean it. If you break something, replace it. If you don't know how to use it be sure to ask. 
</p>

<p> 2. Time is precious.  <br>
We are all busy. Be clear and detailed with your plans as to how to pick up or drop off items. 
</p>

<p> TIPS FOR BORROWERS: </p>


<p> When requesting an item, tell the owner how you plan to use it. <br>

The more clear and specific you are about your request, the easier it will be for the owner to respond. <br>

Return the item in better condition, remember to treat it with TLC. 
</p>


<p> TIPS FOR LENDERS: </p>

<p>
Be clear and detailed with your arrangements. <br>

State your expectations for the use of your item up front. If your item needs to be cleaned or serviced before return, be clear about that before lending it. <br>

If your item requires any accessories or owner's manual or instructions, be sure to include them or at least make a note of it. <br>

More questions? Check out our <%= link_to "FAQs!", page_path("faq") %>
</p>
</div>
<%= link_to "Back", :back %>
</div>