<div class="container">
 <div id="content">
    <ul id="tabs" class="dropdown-menu" >
    <% @categories.each do |category| %>
    <li><a href="#cat<%= category.id %>" data-toggle="dropdown"><%= category.name %></a></li>
    <% end %>
    </ul>
    <div class="tab-content">
    <% @categories.each do |category| %>
        <div class="tab-pane" id="cat<%= category.id %>"><h1> render template with locals changing for each category </h1></div>
    <% end %>
    </div>
 </div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->


