<div class="container">
   <table class="table table-striped table-hover row-clickable">
      <thead>
        <tr >
          <th>Name </th>
          <th>Description </th>
          <th>Requestor</th>
          <th>Requesting Date</th>
          <th>Return Date</th>
          <th>Request</th>
          <th>Image </th>
          <th>Accept</th>
        </tr>
      </thead>  
      <tbody class="js-itemsshare">   
             <%= render partial: 'items/sharelist', collection: sharerequests, as: :sharerequest  %> 
      <tbody> 
   </table>
   
</div> 
 
 <script type="text/javascript">

 $(".accept-request").on('click',function () {
  if (this.checked){
    $.ajax({
      url: '/items/'+this.value+'/acceptrequest',
      type: 'POST',
      data: {"checked": this.checked}
    });
  }
  else {
     alert("no");
  }
});

 </script>