@import "bootstrap-sprockets";
@import "bootstrap";
main
{
  display: block
}

.user-info {
   margin-top: 9px;
}
 
.nav {
   margin-top: 5px;
}

.jumbotron {
    position: relative;
    background: #FFDAB9 center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

#footerLinks {
position:relative;
top:22px;
right:15px;
}

#footerRight {
position:relative;
right:-15px;
}

.footer-distributed{
  background-color: #668B8B;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 50px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #292c2f;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

 
.tilde {
  font-size: 50px;
  font-family: verdana;
  letter-spacing: -19px;
}

.header-basic {
  padding: 20px 40px;
  box-sizing:border-box;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  background-color: #79CDCD;
}

.header-basic .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1{
  text-align: center;
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header-basic .header-limiter h1 span {
  color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
   color: #ffffff;
   text-decoration: none;
}

.header-basic .header-limiter nav{
  font:15px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header-basic .header-limiter nav a{
  display: inline-block;
  padding: 0 5px;
  opacity: 0.9;
  text-decoration:none;
  font-weight: bold;
  color: #292c2f;
  line-height:1;
}

.header-basic .header-limiter nav a.selected {
  background-color: #86a3d5;
  color: #ffffff;
  border-radius: 3px;
  padding:6px 10px;
}

/* Making the header responsive. */

@media all and (max-width: 600px) {

  .header-basic {
    padding: 20px 0;
    height: 85px;
  }

  .header-basic .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .header-basic .header-limiter nav {
    line-height: 1;
    float:none;
  }

  .header-basic .header-limiter nav a {
    font-size: 13px;
  }

}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
  margin:0;
  padding:0;
  height: 100%;
}

html {
height: 100%;
}

#container {
min-height: 100%;
margin-bottom: -330px;
position: relative;
}

.clearfooter {
height: 150px;
clear: both;
}

h1#header-centered {
    text-align: center;
    color: black;
    font-weight: bold;
}

small {
  text-align: left;
  color: black;
  font-weight: bold;
}


blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 450px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: black;
  background:#79CDCD;
}

blockquote cite {
  color: black;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

h4{
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  padding: 0.25rem;
  text-align: center;
  border: 1px solid #ccc;
}

tbody tr:hover {
  background: yellow;
}

/* For Google Street address Api */
#locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }

table.row-clickable tbody tr td {
    padding: 0;
}

table.row-clickable tbody tr td a {
    display: block;
    padding: 8px;
}