<header class="header-basic">
    <div class="header-limiter">
      <% if (params[:controller] != 'welcome' ) %>       
        <h1><a href="#">Share<span>goods</span></a> Share with your Neighbor or Friends! </h1>
      <% end %>  
      <nav>
          <% if current_user %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% end %>
      </nav>     
    </div>
</header>