<header class="header-basic">
    <div class="header-limiter">
      <% if (params[:controller] != 'welcome' ) %>       
        <h1><a href="#">Share<span>goods</span></a> Share with your Neighbor or Friends! </h1>
      <% end %>  
      <% if current_user %>
      <nav>
            <%= link_to "Home", root_path  %>
            <%= link_to "My Profile", edit_user_registration_path %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </nav> 
     <% end %>
    
    </div>
</header>
