<h1>Sharegoods </h1>

<p>Hi <%= @invitation.recipient_email %>,</p>

<p>
You are invited to join the ShareGoods <%= Group.find(@invitation.group_id).name %>! Click on the link below to activate your account:
</p>

<%= link_to "Activate", new_user_registration_url(email: @invitation.recipient_email, group_id: @invitation.group_id) %>
<%# add token %>